<div class="post">
    {{#each posts}}
    <a class="list font-italic" href="/dash/edit/{{id}}">
        <span>{{title}}</span>
        <span>{{format_date createdAt}}</span>
    </a>
    {{/each}}
</div>