<div class="post">
    {{#each posts}}
    <a class="list" href="/dash/edit/{{id}}">
        <span class="font-italic">{{title}}</span>
        <span class="font-italic">{{format_date createdAt}}</span>
    </a>
    {{/each}}
</div>